.header{
    background-color: black;
    color: whitesmoke;
    text-align: center;
    font-size: 40px;
    font-family: cursive;
    
}
.flex-container1 > .box1 h2{
    color:black;
    background-color: #1ABC9c;
    font-size: 30px;
    margin-left: 570px;
    margin-right: 570px;
    
}
.back a{
    color:lightslategrey;
    text-decoration: none;
    
}
.back a:hover{
    color:black;
    text-decoration: underline;
}